SPRING_DATASOURCE_URL=data_source
SPRING_DATASOURCE_USERNAME=username
SPRING_DATASOURCE_PASSWORD=password

TELEGRAM_BOT_TOKEN=telegram_bot_token
ALLOWED_TELEGRAM_USERS=123456789,987654321
WEB_APP_URL=web_app_url